
  .filter button {
    width: 50px;
    height: 32px;
    border: 1px solid orange;
    background: #FAFAFA;
    border-radius: 4px;
    color: black;
}
.filter button:hover {
    background: darkorange;
    cursor: pointer;
}
.filter .active{
    border: none;
    background: orange;
    color: white;
}